

/* OVERALL STYLE */

body {
   background-color: #92A6A6;
   text-align: center;
}


h1 {
   font-family: 'Oswald', sans-serif;
   letter-spacing: 30px;
   font-size: 4em;
   margin: 0 auto;
}

h2 {
   font-family: 'Oswald', sans-serif;
   letter-spacing: 24px;
   font-size: 2em;
   margin: 0 auto;
}

h3 {
   font-family: 'Cormorant Garamond', serif;
   font-size: 1.4em;
}


body {
   max-width: 1140px;
   margin: 50px auto;
   font-family: 'Courier New', serif;
}


/* TOP */


.top {
   background-color: #E4EAF2;
   color: #A65C41;
   max-width: 600px;
   margin: 0 auto;
   padding: 15px 0;
}

.top h1 {
   margin-left: 30px;
}

.top h2 {
   margin-left: 28px;
}


/* ABOUT */


.about {
   background-color: #A65C41;
   color: #E4EAF2;
   max-width: 600px;
   margin: 0 auto;
   padding: 50px 0;
}



/* WORK */


.work {
   background-color: #A65C41;
   color: #E4EAF2;
   max-width: 600px;
   margin: 0 auto;
   margin-top: -30px;
   padding: 10px 0;
}

.work nav ul {
   list-style-type: none;
   padding-left: 0;
   margin-bottom: 20px;
}

.work nav ul li {
   margin-top: 5px;
}

.work nav ul li a {
   list-style-type: none;
   text-decoration: none;
   color: #E4EAF2;
   transition: 0.2s;
}

.work nav ul li a:hover {
   color: #92A6A6;
}


/* CONTACT */

.contact {
   background-color: #A65C41;
   color: #E4EAF2;
   max-width: 600px;
   margin: 0 auto;
   padding: 10px 0;
}

.contact a {
   text-decoration: none;
   color: #E4EAF2;
   transition: 0.2s;
}

.contact a:hover {
   color: #92A6A6;
}


/* SOCIAL MEDIA ICONS */


.icons {
   background-color: #A65C41;
   max-width: 600px;
   margin: 0 auto;
   padding-top: 70px;
   padding-bottom: 15px;
   font-size: 2em;
   letter-spacing: 5px;
   transition: 0.2s;
}

.icons a {
   color: #E4EAF2;
   transition: 0.2s;
}

.icons a:hover {
   color: #92A6A6;
}


/* STRONG GUYS LOGO */

.sglogo {
   background-color: #E4EAF2;
   max-width: 600px;
   margin: 0 auto;
   padding: 20px 0;
}



