/*

COLOR PALETTE:

DARK-GREY:     555555
LIGHT-GREY:    bbbbbb

DARK-ORANGE:   b23600
LIGHT-ORANGE:  ff4d00

DARK-BLUE:     00b099
LIGHT-BLUE:    00ffde

DARK-PURPLE:   8300b2
LIGHT-PURPLE:  bb00ff

DARK-GREEN:    7bb200 
LIGHT-GREEN:   afff00

*/





/* OVERALL */

.container {
   max-width: 1140px;
   margin: 0 auto;
}

.clear {
  clear: both;
}

body {
   color: #bbbbbb;
   background-color: #555555;
   font-family: "Raleway", "Helvetia", sans-serif;
}

.herosection h1 {
   font-family: "Oswald", "Helvetia", sans-serif;
   font-size: 6em;
   color: #ff4d00;
   letter-spacing: 30px;
   margin-bottom: 0;
   text-shadow: 0 5px 2px rgba(0, 0, 0, 0.5);
}

h3 {
   font-family: "Oswald", "Helvetica", sans-serif;
   text-align: center;
   letter-spacing: 20px;
   font-size: 1.5em;
   margin: 0 0 40px 0;
}

h5 {
   font-family: "Oswald", "Helvetica", sans-serif;
   font-size: 20px;
   color: #afff00;
   letter-spacing: 10px;
   margin: 50px 0 0 0;
}

nav {
   font-family: "Raleway", "Helvetia", sans-serif;
   letter-spacing: 10px;
   float: right;
   margin: 10px auto;
}



/* UNIVERSAL CHANGES */

.span-blue {
   color: #00ffde;
}

.span-orange {
   color: #ff4d00;
}

.span-green {
   color: #afff00;
}

.span-purple {
   color: #bb00ff;
}



/* HEADER */

header i {
   font-size: 70px;
   color: #00ffde;
}

header a {
   text-decoration: none;
   color: #00ffde;
   transition: 0.2s;
}

header {
   background: #555555;
   height: 80px;
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 9999;
   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
   padding-top: 20px;
}


header nav ul {
   list-style-type: none;
}

header nav ul li {
   display: inline;
   margin: auto 20px;
}

header nav a {
   color: #bbbbbb;
}

header a:hover {
   color: #00ffde;
}


/* HERO SECTION */

.herosection {
   height: 730px;
   background: url(../images/hero.png) no-repeat center center;
   background-size: cover;
   color: white;
   text-align: center;
   position: relative;
   margin-top: 100px;
   z-index: -999;
}

.herosection h2 {
   font-size: 20px;
   color: #afff00;
   letter-spacing: 10px;
   text-shadow: 0 6px 2px rgba(0, 0, 0, 0.3);
}

.herotext {
   position: absolute;
   top: 40%;
   left: 0;
   right: 0;
   transform: translateY(-50%);
   width: 70%;
   margin: 0 auto;
}

/* ABOUT */

.about {
   background-color: #555555;
   margin-top: -50px;
   box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.3);
   padding: 40px 0;
}

.bio {
   width: 60%;
   float: left;
   padding-right: 30px;
}

.textwrap {
   width: 30%; height: auto;
   min-width: 150px;
   float: left;
   margin: 0 50px 30px 0;
   border-radius: 50%;
   -webkit-shape-outside: circle();
   shape-outside: circle();
   -webkit-shape-outside: circle();
   shape-outside: circle();
   box-shadow: 0 7px 3px rgba(0, 0, 0, 0.3);
}

.apps {
   width: 35%;
   float: left;
   text-align: right;
}

.apps i {
   font-size: 30px;
}

.apps ul li {
   list-style-type: none;
   display: inline;
   margin: 10px;
}



/* WORK */

.work {
   background-color: #bbbbbb;
   color: #555555;
   padding: 50px 0;
   text-align: center;
}



/* CONTACT */

.contact {
   background-color: #555555;
   padding: 50px 0;
}

.contact article i {
   font-size: 30px;
   margin: 10px;
}

.contact article {
   width: calc(50% - 20px);
   float: left;
   margin: 0 10px;
}

.contact a {
   color: #bbbbbb;
   text-decoration: none;
   transition: 0.2s;
}

.contact article a:hover {
   color: #afff00;
}

.contact ul a:hover {
   color: #ff4d00;
}

.contact ul {
   text-decoration: none;
   list-style-type: none;
   padding: 0 0;
}

.contact input {
   width: 100%;
   float: left;
   margin-right: 12px;
   margin-bottom: 12px;
   padding: 8px;
   background-color: #bbbbbb;
   border-style: none;
}

.contact textarea {
   width: 100%;
   height: 100px;
   padding: 8px;
   background-color: #bbbbbb;
   border-style: none;
}

.contact button {
   margin: 8px 0;
   color: #00ffde;
   text-decoration: none;
   background-color: #bbbbbb;
   padding: 5px 25px;
   display: inline-block;
   transition: 0.2s;
   border-style: none;
}

.contact button:hover {
   background-color: #00ffde;
   color: #555555;
}