@import 'normalize';
@import 'variables';
@import 'settings';

/* HEADER */

header {
	height: 100px;
	width: 100%;
	position: fixed;
	top: 0;
	transition: 0.2s;
	margin-top: -150px;
	background-color: $light;
	box-shadow: $material-2;
}

header img {
	height: 80px;
	transition: 0.2s;
}

header a:hover {
	fill: #a35230;
}

header .flex {
	height: 100px;
	flex-direction: row;
	justify-content: space-between;
}

.header-title {
	margin: 0 16px;
}

.header-title .flex {
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

nav ul li a {
	color: $dark;
	font-size: 1.2em;
	font-style: italic;
	margin: 0 12px;
	box-sizing: border-box;
}

nav ul li a:hover {
	color: $orange;
}


/* HERO */

.hero {
	height: calc(100vh - 40px);
}

.hero .flex {
	height: calc(100vh - 40px);
}

.hero img {
	width: 250px;
}

.hero-title {
	margin-top: 20px;
}

.hero-title .flex {
	height: auto;
}


/* ABOUT */

.about .flex {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.about-card {
	background-color: $light;
	width: 45%;
	height: 300px;
	box-sizing: border-box;
	padding: 24px;
	box-shadow: $material-2;
	margin-bottom: 20px;
}

.about-card.flex {
	flex-direction: column;
	justify-content: space-between;
}

.about-card .button.flex {
	justify-content: center;
}


/* SKILLS */

.skills {
	width: 100%;
	margin: 0 auto;
}

.skills-item {
	width: 10%;
	margin-bottom: 32px;
}

.skills-item.flex {
	flex-direction: column;
}

.skills {
	color: $light;
}

.skills i {
	font-size: 4em;
	color: $light;
	margin-bottom: 12px;
}


/* WORK */

.work-card {
	width: 100%;
	margin: 24px 0;
	box-sizing: border-box;
	padding: 24px;
	text-align: left;
	background-color: $mid-dark;
	box-shadow: $material-1;
	color: $light;
}

.work-card.flex {
	justify-content: space-between;
	flex-direction: row;
}

.work-card img {
	width: 45%;
}

.work-card-info {
	width: 50%;
}

.work-card-info p {
	margin: 16px 0;
}

.work h4 {
	letter-spacing: normal;
}


/* CONTACT */

.contact {
	color: $light;
	text-align: left;
}

.contact .flex {
	flex-direction: row;
	justify-content: space-between;
}

.contact-left {
	width: 40%;
}

.contact-left h3 {
	margin: 0;
}

.contact-left p {
	margin: 16px 0;
}

.social-icons {
	margin: 32px 0;
}

.social-icons a {
	font-size: 2em;
	color: $light;
	letter-spacing: 16px;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: 0.2s;
}

.social-icons a:hover {
	color: $orange;
}

.form {
	width: 50%;
}

.form input[type=text],
.form textarea {
	outline: none;
	background-color: $light;
	transition: 0.2s;
	margin: 4px 0;
	padding: 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	font-family: $raleway;
}

.form input[type=text] {
	width: 49%;
	height: 48px;
}

.form textarea {
	width: 100%;
	height: 96px;
	resize: none;
	padding: 8px;
}

.form input[type=text]:focus,
.form textarea:focus {
	outline: 2px solid $orange;
	box-shadow: $material-2;
}

.form button {
	border: none;
	font-family: $raleway;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 650px) {
	.about-card {
		width: 100%;
	}
	.skills-item {
		width: 25%;
	}
	.work-card.flex {
		flex-direction: column;
	}
	.preview-right.flex {
		flex-direction: column-reverse;
	}
	.work-card img {
		width: 90%;
		margin-bottom: 24px;
	}
	.work-card-info {
		width: 90%;
		text-align: center;
	}
	.work-card-info p {
		text-align: center;
	}
	.work-card-info .button {
		margin: 0 auto;
	}
	.contact .flex {
		flex-direction: column;
	}
	.contact-left {
		width: 100%;
	}
	.form {
		width: 100%;
	}
	.form input[type=text] {
		width: 100%;
	}
}