/* OVERALL */

.part1 {
   max-width: 1200px;
   margin: 0 auto;
}





/* FONTS */


.part1 h2 {
   font-size: 8em;
   margin: 0;
}

.part1 h2,
.part1 h4 {
   font-family: 'Oswald', sans-serif;
}

.part1 h5,
.part1 h3,
.part1 p {
   font-family: 'Droid Serif', serif;
}





/* CONTENT */

.part1left {
   max-width: 700px;
   float: left;
}

.part1header {
   width: 400px;
   margin-left: 100px;
}

.leftbottom {
   max-width: 330px;
   float: left;
   margin: 10px;
}

.part1right {
   max-width: 430px;
   float: left;
   margin: 10px;
}

.part1right p {
   margin: 30px 0;
}

.part1right aside {
   border-top-style: solid;
   border-bottom-style: solid;
   border-width: thin;
}

